run = "python app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn app:app -c gunicorn.conf.py"]

[[ports]]
localPort = 8443
externalPort = 80

[agent]
expertMode = true
