run = "python3 app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[env]
REINT_DB = "false"

[deployment]
run = ["sh", "-c", "gunicorn -b 0.0.0.0:$PORT app:app -c gunicorn.conf.py"]
healthcheckPath = "/healthz"

[[ports]]
localPort = 8443
externalPort = 80

[agent]
expertMode = true
